/* * {
  outline: 1px solid red;
} */

body {
  margin: 0;
  /* font-family: sans-serif; */
  background-color: rgb(206, 225, 231);
}

/* selecting the div for the nav-bar */
.nav-bar {
  background-color: black;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0;  font-size: 20px;
  padding: 0;
  /* Making the nav stay at the top of the viewport */
  /* https://www.geeksforgeeks.org/how-to-make-a-div-stick-to-the-top-of-the-screen/ */
  position: sticky;
  top: 0px;
}

.logo-and-name {
  display: flex;
  align-items: center;
  
}

.logo-name {
  color: white;
  margin-left: 20px;
  font-weight: 900px;
  font-size: 35px;
  font-family: monospace;
}

/* selecting the list items */
.menu-option {
  /* removes bullet style in the list */
  list-style: none; 
  /* makes the list items inline (on one line) but its borders etc. are respected */
  display: inline-block;
  flex-shrink: 1;
  margin: 5px;
}

.menu {
  display: flex;
  flex-wrap: wrap;
}

/* selecting the texts on the nav bar */
li a {
  color: white;
  font-size: 20px;
  font-weight: bold;
  margin-right: 25px;
  margin-left: 25px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.logo-pic {
  max-width: 120px;
  max-height: auto;
  margin-left: 15px;
}


/* featured-photo */

.featured-photo {
  display: flex;
  justify-content: center;
  /* outline: 1px solid red; */
}

.featured-photo-item {
  flex: 1;
  margin-top: 20px;
  max-width: 1000px;
  width: 100%;
  height: auto;
}




/* PREVIOUS PROJECTS PORTION */
.prev-projects-header {
  margin-top: 50px;
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: black;
  margin-top: 40px;
}

.previous-projects-container {
  display: flex;
  justify-content: center;
  align-items: top;
  flex-wrap: wrap;
}

.prev-projects-item {
  /* outline: 1px solid red; */
  flex: 1;
  display: flex;
  justify-content: center;
}

.prev-projects-item:hover,
.menu-option:hover {
  opacity: 0.4;
}

.prev-project-link {
  /* outline: 1px solid red; */
  text-decoration: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.prev-projects-pic {
  flex: 1;
  /* outline: 1px solid red; */
  max-width: 300px;
  max-height: auto;
}

.prev-project-title,
.skills-header,
.autobiography-header {
  flex: 1;
  color: black;
  text-align: center;
  font-weight: 500px;
  font-family: 'Courier New', Courier, monospace;
  /* outline: 1px solid red; */
}


/* skills */
.skills-biography-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-items: top;
  margin-top: 40px;
  background-color: rgb(0, 0, 0, 0.2);
  padding-bottom: 10px;
}

.skills-container {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* outline: 1px solid red; */
  width: 50%;
  justify-content: flex-start;
}

.skills-header {
  flex: 1;
}

.skills-icons {
  display: flex;
  flex-direction: row;
  /* outline: 1px solid red; */
  flex-wrap: wrap;
}

.single-skills {
  margin: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-wrap: wrap;
}

.skills-images {
  max-width: 150px;
}

.icons-title {
  font-family: sans-serif;
}

.c {
  max-width: 130px;
}

.autobiography-text {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px; 
}


/* autobiography section */
.biography-container {
  flex: 1;
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
}


/* footer contents */
.footer-container {
  display: flex;
  flex-direction: row;
  padding-top: 10px;
  background-color: black;
  flex-wrap: wrap;
}

.footer-logo-container {
  max-width: 40%;
  padding-left: 20px;
}

.footer-logo-pic {
  max-width: 200px;
  margin-right: 20px;
}

.footer-text {
  color: white;
  margin-left: 20px;
}